<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>عدد الأمثال</b> <%= @user.proverbes.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% unless @users.empty? %>

      <% end %>
    </section>
  </aside>
  <div class="span8">
      <% if @users.any? %>
      <ul class="users">
       <% @users.each do |user| %>
    <li>
      
      <%= link_to user.name, user %>
  	<% if current_user.admin? && current_user = user %>
    | <%= link_to "حذف", user, :method=> :delete, :confirm=> "هل أنت متأكد؟" %>
       <% end %>
	
    </li>
  <% end %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
