<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
 </head>
<body>

<% if user_signed_in? %>

  <div class="row">
    <div class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <%# <section> %>
       <%#  <%= render 'shared/stats' %>
      <%#  </section> %>
      <section>
        <%= render 'shared/proverbe_form' %>
      </section>
    </div>

     <div class="span6 offset2">
      <h3>الأمثال الخاصة</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>
<div class="hero-unit">
<div class="row-fluid">
   <div class="span4">
    <img class="aligncenter" src="/images/proverbe_logo.jpg" alt="Sample Image" width="250" height="400">
  </div> 
   <div class="span8">

            <h1 class="featured-title">بوابة الأمثال و الحكم</h1>    
       
            <p>
بوابة الأمثال و الحكم عبارة عن مساحة تبادل بين الناس من أجل نشر و تقاسم الكثير من الأمثال و الحكم العربية و بجميع
 اللهجات.

 البوابة تسمح لكل العرب بنشر, تدوين و تقاسم اﻷمثال. تنفرد بوابتنا بأنها أول بوابة تتيح تدوين المثل مع إمكانية شرحه و نشر القصة التي وراء المثل. البوابة في إصدارها الأول لهذا فإن فريق العمل يرحب بإنتقداتكم و أفكاركم من أجل تطوير البوابة و جعلها رائدة في هذا المجال.

  </p>
</div>
 <div id="user_nav">
  <% if current_user %>
    
    <ul class="nav pull-left">
    <li><%= current_user.email %></li>	
    <li><%= link_to "الخروج", destroy_user_session_path %></li>	
    </ul>	    

    
  <% else %>
    <%= link_to "الدخول", new_user_session_path, :class => "btn btn-large btn-primary"%>
  <% end %>
</div>
</div>



<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<% end %> 

</body>
</html>
