<%= form_for(@proverbe) do |f| %>
  <% if @proverbe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proverbe.errors.count, "error") %> prohibited this proverbe from being saved:</h2>

      <ul>
      <% @proverbe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Identifiant %><br />
    <%= f.text_field :Identifiant %>
  </div>
  <div class="field">
    <%= f.label :Corps %><br />
    <%= f.text_field :Corps %>
  </div>
  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_field :Description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
