<h1>كل الأمثال و الحكم</h1>

<%= will_paginate :previous_label => 'السابق', :next_label => 'التالي', :class => 'pager' %>
<div class="row">
 <ul class="users clickable" >

 <% @proverbes.each do |proverbe| %>
<li>
       
 <div class="modal hide fade" id="<%= proverbe.user.username %>">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"> × </button>
    <h2> <%= link_to proverbe.user.name,  proverbe.user%> </h2>
  </div>

 <div class="modal-body">
   <% @user= proverbe.user %>
   <% if @user.proverbes.any? %>
   <div class="row">
      <ul class="users" >
      <% @user.proverbes.each do |proverbeuse| %>
        <li> <%= proverbeuse.Corps %></li>
      <% end %>
     </ul>
  </div> 
   <% end %> 
 </div>

</div> 
   <div class="userstopdetail">   
   <p class="user" data-toggle="modal" href="#<%= proverbe.user.username %>">
    		<%= proverbe.user.name%>
   </p>
   <span class="timestamp"> <i class="icon-time"></i>
أرسل من حوالي <%= time_ago_in_words(proverbe.created_at)%>.
  
  </span>
 </div>
    <p class="corps">
		<%= link_to proverbe.Corps, proverbe %>
    </p>


  
  
<% if proverbe.user == current_user %>
    <%= link_to "حذف", proverbe, :method =>  :delete,
                                     :confirm=> "هل أنت متأكد",
                                     :title=>    proverbe.Corps %>

    <%= link_to "تحديث المثل", edit_proverbe_path(proverbe) %>                                                          


<% end %>

<%= link_to "عدد التعليقات", proverbe_path(proverbe.id) + "#disqus_thread" %>

<%= raw(disqus_comment_counts) %>



<a href="https://twitter.com/share" class="twitter-share-button" data-url= "http://artproverbesrails1.heroku.com/proverbes/<%=proverbe.id%>" data-text="<%= proverbe.Corps %>" data-via=<%= proverbe.user.username %> data-lang="ar" data-size="large">تغريد</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	

</li>




  
  <% end %>
</ul>
</div>
<%= will_paginate :previous_label => 'السابق', :next_label => 'التالي' , :class => 'pager'%>
