<h1>كل الأمثال و الحكم</h1>

<%= will_paginate :previous_label => 'السابق', :next_label => 'التالي', :class => 'pager' %>

<ul class="users">
  <% @proverbes.each do |proverbe| %>
    <li>
      
        <span class="user">
    		<%= link_to proverbe.user.name, proverbe.user  %>
        </span>
    <span class="corps"><%= link_to proverbe.Corps, proverbe %></span>
  <span class="timestamp">
    أرسل من حوالي <%= time_ago_in_words(proverbe.created_at)%>.
  </span>
  <% if current_user?(proverbe.user) %>
    <%= link_to "حذف", proverbe, :method =>  :delete,
                                     :confirm=> "هل أنت متأكد",
                                     :title=>    proverbe.Corps %>

   <%= link_to "تحديث المثل", edit_proverbe_path(proverbe) %> 
   <%= proverbe.liked.count%>
  <% end %>
	
    </li>
  
  <% end %>
</ul>

<%= will_paginate :previous_label => 'السابق', :next_label => 'التالي' , :class => 'pager'%>
