<p id="notice"><%= notice %></p>

<p>
  <b>المحتوى : </b>
  <%= @proverbe.Corps %>
</p>

<p>
<%= raw(disqus_thread) %>
</p>



<%= link_to 'تحديث', edit_proverbe_path(@proverbe) %> |
<%= link_to 'الرجوع', root_path %>
