<p id="notice"><%= notice %></p>

<p>

<b>  المحتوى : </b>
  <%= @proverbe.Corps %>
</p>

<p>
<%= raw(disqus_thread) %>
</p>


<% if @proverbe.user == current_user %>
<%= link_to 'تحديث', edit_proverbe_path(@proverbe) %> |
<% end %>
<%= link_to 'الرجوع', root_path %>
