<!DOCTYPE html>
<html>
  <head>
    <title>بوابة الأمثال و الحكم</title>
    <%= stylesheet_link_tag    "application", :media=> "all" %>
    <%=  javascript_include_tag "application" %>   
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    

  </head>
    <body dir="rtl">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <div id="user_nav">
 
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

